<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    {% include "nav.njk" %}
    <div class="layout-divider">
      <div class="aura-blob" aria-hidden="true"></div>
      <main>
        {% block content %}
            {{ content | safe }}
        {% endblock %}
      </main>
    </div>

    {% include "footer.njk" %}
</body>
  <script src="/scripts/hero-scramble.js"></script>
</html>
</html>