{% extends "base.njk" %}

{% block content %}
  {% if heroImage %}
    <img class="hero-image" src="/assets/cat_working.jpeg">
  {% endif %} 

  {% if featured %}
    <div class="featured-banner">🌟 Featured Post!</div>
  {% endif %} 
  <article>
    <h2>{{ title }}</h2>
    <p><em>{{ date | readableDate }}</em></p>
    {{ content | safe }}
  </article>
{% endblock %}