
 .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 200px);
      gap: 20px; /* Creates 1px gap between cells */

      margin-bottom: 50px;
}

.grid-item {
    border: 1px solid #4f27dc; /* Adds a border around grid cells so we can see the grid layout */
}

.item1{
    background-color: #00ffea;
    grid-column-start: 2;
    grid-column-end: span 2; 
    grid-row-start: 2;
    grid-row-end: span 1; /* Spans 1 row */
    z-index: 2; /* Makes sure this item is on top of the others */
}

.item2{
    background-color: #91ff00;
    grid-column-start: 2;
    grid-column-end: span 1; /* Spans 1 columns */
    grid-row-start: 1;
    grid-row-end: span 3; /* Spans 3 row */
}

.item3{
    background-color: #8c00ff;
    grid-area: 1 / 1 / 4 / 2; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end short hand*/
}


.grid-container.grid-area-layout{
    grid-template-areas: 
        "header header header header"
        "content content sidebar sidebar"
        "footer footer footer footer";
}

.grid-container.grid-area-layout .item4{
    background-color: #ff0051;
    grid-area: header;
}

.grid-container.grid-area-layout .item5{
    background-color: #ffae00;
    grid-area: content;
}

.grid-container.grid-area-layout .item6{
    background-color: #00ff3c;
    grid-area: sidebar;
}

.grid-container.grid-area-layout .item3{
    background-color: #0081ff;
    grid-area: footer;
}