/* importing styling from our nav.css file */
@import url(nav.css);

/* styling we want to include across our site  */
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh; 
    display: grid; 
    grid-template-areas: 
        "nav nav nav"
        "content content content"
        "footer footer footer";
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

main{
    grid-area: content; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section{
    padding: 0px 50px 0px 50px; 
}

nav{
    grid-area: nav;
}

footer{
    grid-area: footer; 
}

.hero-image{
    width: 100vw; 
    height: 300px; 
    object-fit: cover;
    object-position: center;
}


