<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    {% block content %}
        {{ content | safe }}
    {% end block %} 
</head>

<body>
    {% include "nav.njk" %}
    <main>
        {% if heroImage %}
            <img class="hero-image" src="/assets/cat_kirby.jpeg">
        {% endif %}
        <section class="page-content">
            {% block content %}
            {{ content | safe }}
            {% endblock %}
        </section>

        <section class="latest-posts">
            <h2>Latest Posts</h2>
            <ul>
                {% for post in collections.post %}
                <li>
                    <a href="{{ post.url }}">{{ post.data.title }}</a> –
                    {{ post.date | readableDate }}
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    {% include "footer.njk" %}

</body>

</html>