#collage{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: start;
    gap: 10px;
    height: 100vh
}
#collage img{
    width: 100%; 
    height: 300px; 
    object-fit: cover;
}